// ABOUT
.about-container {
    display: grid;
    grid-template-areas:
        "about-01 about-01-image"
        "mural mural"
        "members-photo members-description";
    
    grid-template-columns: 1fr 1fr;

    margin-top: 40px;
    // padding: 0px 4vw;

    .about-01 {
        grid-area: about-01;
        padding: $side-padding;
    }
    .about-01-image {
        grid-area: about-01-image;
        align-self: center;
        // background-image: url('../img/about-awww.jpg');
        // background-size: contain;
        // background-repeat: no-repeat;
        height: 400px;
        span {
            display: none;
        }
    }
    .about-mural {
        grid-area: mural;

        background-image: url('../img/patterns/pattern_puzzle.svg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 150px;
        // width: 100vw;

        margin: 0px;
        // margin-left: 0px;
        // border: red 1px solid;

        span {
            display: none;
        }
    }

    .about-members-photo {
        grid-area: members-photo;
        width: 550px;
        min-height: 350px;

        padding: 0px 0px 0px $side-padding;

        .about-members-photo-container {
            display: flex;
            flex-wrap: wrap;
        } 
    }
    .about-members-description {
        grid-area: members-description;
        // width: 100%;

        padding: 0px $side-padding 0px 0px;
    }
}

.about-container {
    .about-members-photo {
        .about-members-photo-container {
            display: flex;
            flex-wrap: wrap;
            justify-items: center;

            .members-photo {
                margin: 5px 5px;
                width: 125px;
                max-height: 125px;
                overflow: hidden;
                border-radius: 5px;
            }
        }
        
    }
}