// COLORS
$white: white;
$black: black;
$dark-blue: #2C2E40;
$grey-01: #939393;

$pink: #EE6EAF;
$yellow: #E8AF00;
$green: #00FF27;

$side-padding: 100px;
$content-side-padding: 200px;

html {
    background-color: $dark-blue;
    color: $white;
}
body {
    font-family: 'Chicago', monotype;
    margin: 0px;
}
h1, h2, h3, h4 {
    font-weight: bold;
}
h1 {
    text-transform: uppercase;
}
p {
    font-weight: normal;
}
a {
    text-decoration: none;
    color: $white;
}

// BLOG & WORK
.content-container {
    padding: 0px $side-padding;
    background-color: white;
    border-radius: 10px;
    min-height: 70vh;
    color: $black;
    margin: 50px $side-padding;
    padding: $side-padding;
}
.container {
    padding: 0px $side-padding;
    margin-top: 50px;
}